  /* Variables */
  $primary-color: #ffffff;
  $black-color: #323232;
  $instock-blue: #004892;
  $brainflix-blue: #0095FF;
  $dark-blue: #002F5F;
  $silver-color: #AFAFAF;
  $mercury-color: #E1E1E1;
  $lightgrey: #FAFAFA;
  $divider:  #004892; 
  




