.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 16px;
  margin-right: 16px;

  .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    h1 {
      text-align: left;
      margin-bottom: 16px;
    }
    .author,
    .stats,
    .views,
    .likes {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .author {
      margin-bottom: 32px;
      h2 {
        margin-right: 8px;
      }
    }

    .stats {
      padding-bottom: 24px;
      border-bottom: 1px solid $mercury-color;

      .views img,
      .likes img {
        margin-right: 8px;
      }

      .views {
        margin-right: 16px;
      }
    }
  }

  hr {
    display: none;
  }

  .description {
    text-align: left;
    margin-bottom: 40px;
    line-height: 25px;
  }
}
@media (min-width: 768px) {
  .main {
    margin-left: 24px;
    margin-right: 24px;

    .title {
      flex-direction: row;
      margin-bottom: 24px;
      flex-wrap: wrap;
      justify-content: space-between;

      h1 {
        margin-bottom: 24px;
      }

      .author {
        margin-bottom: 24px;
      }
      .stats {
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 24px;

        .views {
          margin-right: 24px;
        }
      }
    }
    hr {
      display: unset;
      border: 1px solid $mercury-color;
      margin-bottom: 40px;
    }

    .description {
      text-align: left;
      margin-bottom: 40px;
      line-height: 25px;
    }
  }
}
