/* Default CSS styling for mobile 320px */
@media (min-width: 320px) {
  /* Main content styling */

  main {
    width: 100vw;

    .hero__show {
      // Hero section
      width: 100%;
      height: 472px;
      background-image: url("../assets/Images/ana-grave-156852-unsplash.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      @include column;
      justify-content: flex-start;
      margin-bottom: 32px;

      &--layer {
        // image opacity
        background-color: #323232;
        opacity: 0.5;
      }

      h1,
      h2 {
        color: $primary-color;
        margin-bottom: 16px;
      }
    }

    .titles {
      margin-top: 64px;
      margin-left: 16px;
      margin-right: 16px;
      @include column;
    }

    .music {
      margin-top: 64px;
      margin-left: 16px;
      margin-right: 16px;

      iframe {
        height: 150px;
      }
    }

    .shows {
      @include column;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 32px;

      h1 {
        margin-bottom: 30px;
      }

      .shows-table {
        width: 100%;
        border-collapse: collapse;

        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
          padding: 0;
          margin: 0;
        }

        .table-hidden {
          display: none;
        }

        .date {
          font-weight: $font-bold;
        }

        .event {
          border-bottom: 1px solid $mercury-color;

          h5 {
            color: $silver-color;
            text-transform: uppercase;
            font-weight: $font-demibold;
            margin-top: 24px;
            margin-bottom: 16px;
          }

          button {
            background-color: $black-color;
            color: $primary-color;
            width: 100%;
            height: 48px;
            text-align: center;
            vertical-align: center;
            margin-bottom: 16px;
            margin-top: 32px;
            text-transform: uppercase;
            font-weight: $font-demibold;
            border-radius: 8px;
          }
        }

        #show {
          margin-top: 0;
        }
      }
    }
  }
}

/* styling for tablet from 768px */
@media (min-width: 768px) {
  /* Main content styling */

  main {
    .hero__show {
      // Hero section
      height: 670px;
      margin-bottom: 32px;

      h1,
      h2 {
        margin-bottom: 24px;
      }
    }

    .titles {
      width: 80%;
      margin-top: 96px;
      margin-left: 24px;
      margin-right: 24px;
    }

    iframe {
      margin-left: 24px;
      width: 50%;
      height: 20%;
    }

    .shows {
      margin-left: 24px;
      margin-right: 24px;

      h1 {
        width: 30%;
      }

      .shows-table {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: inline-block;
        }

        .table-hidden {
          display: unset;
        }

        .hidden {
          display: none;
        }

        .date {
          font-weight: $font-demibold;
        }

        .date,
        .venue,
        .location {
          width: 182px;
        }
        h5,
        .theader {
          color: $silver-color;
          text-transform: uppercase;
        }
        .theader {
          display: block;
        }

        .event {
          vertical-align: baseline;

          td {
            height: 90px;
          }

          p {
            margin-top: 16px;
            margin-bottom: 24px;

            &.venue,
            &.location {
              font-size: 13px;
            }
          }

          .date,
          .venue,
          .location {
            margin-top: 24px;
          }

          button {
            width: 160px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* styling for desktop from 1440px */
@media (min-width: 1440px) {
  main {
    .hero__show {
      @include row;
      margin-bottom: 48px;

      .titles {
        margin-top: 160px;
        margin-left: 180px;
        margin-right: 0;

        h2 {
          margin-bottom: 48px;
        }
      }
      .music {
        margin-top: 0;
        margin-left: 64px;
        align-self: center;
        margin-right: 180px;

        iframe {
          width: 436px;
          height: 146px;
        }
      }
    }

    .shows {
      @include row;
      margin-left: 180px;
      margin-right: 180px;

      .shows-table {
        .event {
          button {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
