@import "colors";
@import "fonts";
@import "mixens";
@import "header";
@import "hero";
@import "main";
@import "videos";
@import "comments2";

/* Resetting  user agent styling */
html,
body,
ul,
button,
textarea {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #323232;
  font-family: "Avenir";
  overflow-x: hidden;
}
/* Resetting  user agent styling */
button,
input,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}
