@import "colors";
@import "fonts";
@import "mixens";
@import "header";
@import "footer";
@import "comments";
@import "shows";

/* Resetting  user agent styling */
html,
body,
ul,
button {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #323232;
  font-family: "Avenir Next";
}

/* Default CSS styling for mobile 320px */
@media (min-width: 320px) {
  /* Main content styling */

  #root {
    .App {
      width: 100%;
      margin-left: 16px;
      margin-right: 16px;

      .button {
        background-color: $brainflix-blue;
      }
      nav {
        height: 169px;
        display: flex;
        flex-direction: column;

        #searchBar {
          background-color: $mercury-color;
          border-radius: 5%;
          border: 1px solid $mercury-color;
          height: 20px;
          margin-bottom: 8px;
        }

        .upload {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          margin-bottom: 16px;

          .button {
            background-color: $brainflix-blue;
            margin-right: 16px;
            height: 20px;
          }
        }
      }
      .hero {
        iframe {
          width: 100%;
          height: 183px;
        }
        margin-bottom: 32px;
      }

      .main {
        .title {
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;

          h1 {
            text-align: left;
            margin-bottom: 16px;
          }
          .author,
          .stats {
            display: flex;
            flex-direction: row;
          }

          .author {
            margin-bottom: 32px;
            h2 {
              margin-right: 8px;
            }
          }

          .stats {
            margin-bottom: 24px;
            border-bottom: 1px solid $mercury-color;
            p:first-child {
              margin-right: 8px;
            }
          }
        }

        .description {
          text-align: left;
          margin-bottom: 40px;
        }
      }

      .comment__title {
        font-weight: $font-bold;
        text-align: left;
        margin-bottom: 32px;
      }

      .comments {
        margin-top: 32px;
        @include column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;

        h4 {
          text-transform: uppercase;
          color: $mercury-color;
        }

        &__form {
          &__input {
            justify-content: flex-start;
          }
        }

        &--icon {
          margin-right: 5%;

          img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-top: 25px;
          }
        }

        #myForm {
          .formComment {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &--icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $lightgrey;
      }

      form {
        @include column;

        textarea {
          border: 2px $brainflix-blue solid;
          margin-bottom: 16px;
          background-color: $lightgrey;
          border-radius: 6px;

          &placeholder {
            margin-top: 2%;
          }
        }

        button {
          background-color: $brainflix-blue;
          color: white;
          height: 48px;
          width: 224px;
          align-self: flex-end;
          margin-bottom: 24px;
          border-radius: 4px;
          font-family: "Avenir Next";
          text-transform: uppercase;
          font-weight: $font-bold;

          &:hover {
            background-color: black;
          }
        }
      }
      .hidden {
        display: none;
      }

      .comments-table {
        width: 100vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 40px;

        .comments__published {
          @include row;
          padding-top: 24px;
          padding-bottom: 24px;
          border-bottom: 1px solid $mercury-color;
          margin-left: 5%;
          margin-right: 5%;

          .comments__img {
            @include column;
            width: 25%;
          }

          .comments--icon {
            display: flex;
            flex-direction: column;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $lightgrey;
          }

          .comments__body {
            @include row;
            align-items: center;
            flex-wrap: wrap;
            width: 75%;

            .username,
            .date {
              flex: 1 1 50%;
            }
            .date {
              text-align: right;
              color: $mercury-color;
            }
            .username {
              font-weight: $font-bold;
            }

            .input {
              margin-top: 5%;
              flex: 1 1 100%;
            }
          }
        }
      }
      title {
        margin-bottom: 40px;
      }

      .video {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;

        .video__image {
          margin-right: 16px;

          img {
            width: 120px;
            height: 70px;
          }
        }
        .aside {
          .videoList {
            h3 {
              margin-top: 40px;
              margin-bottom: 40px;
            }

            .video__content {
              display: flex;
              flex-direction: column;

              .video__title {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  /* Main content styling */
  main {
    .main_hero {
      // Hero section
      height: 400px;
      margin-bottom: 6%;

      h1 {
        margin-left: 5%;
      }
    }
    .about {
      // About musicians section
      margin-left: 3%;
      margin-right: 3%;

      h1 {
        margin-bottom: 6%;
      }

      .about_content {
        width: 100%;
        margin-bottom: 0%;

        .about_img {
          img {
            max-width: 720px;
          }
        }
        .about_quote {
          margin-top: 7%;
          margin-bottom: 8%;

          h2 {
            margin-bottom: 7%;
          }

          p {
            margin-top: 6%;
          }
        }

        .about_title {
          margin-bottom: 4%;
        }

        .about_columns {
          @include row;
          align-items: flex-start;
          margin-bottom: 6%;
          box-sizing: border-box;

          p:first-child {
            margin-right: 2%;
          }
          p:last-child {
            margin-left: 2%;
          }
        }
      }
    }
    .gallery {
      // Photo gallery section

      &_margin {
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;

        h1 {
          margin-top: 6%;
          margin-bottom: 6%;
        }

        &_photos {
          // justify-content: space-between;
          align-content: space-evenly;
          width: 100%;
          height: 426px;
          margin-top: 0%;

          img {
            width: 224px;
            height: 126px;
          }
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  main {
    .main_hero {
      height: 670px;

      h1 {
        margin-left: 18%;
      }
    }

    .about {
      margin-left: 12%;
      margin-right: 12%;

      .about_content {
        width: 896px;
        @include column;
        align-items: center;

        h2 {
          text-align: left;
        }

        .about_img {
          width: 896px;
          margin-bottom: 5%;
          img {
            min-width: 896px;
            height: 450px;
          }
        }
        .about_quote {
          margin-bottom: 6%;

          h2 {
            margin-bottom: 4%;
          }
        }
        .about_title {
          align-self: flex-start;
        }

        .about_columns {
          p:first-child {
            margin-right: 2%;
          }
          p:last-child {
            margin-left: 2%;
          }
        }
      }
    }

    .gallery {
      width: 100%;
      padding-bottom: 0px;

      &_margin {
        width: 1080px;
        margin-left: 12%;
        margin-right: 12%;

        h1 {
          margin-bottom: 6%;
        }

        &_photos {
          height: 627px;
          margin-top: 0px;
          margin-bottom: 4%;
          justify-content: space-between;

          img {
            width: 344px;
            height: 193px;
          }
        }
      }
    }
  }
}
